# all fiqqles cache from blender
*.blend1

# Test files from blender
untitled*

# Another files
*.pdf
*.txt
assets


# My old python file plugin
viejo.py

# Cache python files
__pycache__

#files for releases
*.zip

